body {background-image: url(gy.jpg) ; margin: 0px; padding: 0px; background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;} 

.logo {width: 1080px;
        height: 720px;
        }

.logodiv {margin: 0 auto; left: 50%; position: fixed; transform: translate(-50%,-50%);top: 50%;}

.logobg {width:100%; padding: 0px;
height: 216px;}

